{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="center-align">
        <div class="card large z-depth-2">
            <div class="card-image waves-effect waves-block waves-light">
                {% for photo in event.photo_set.all %}
                <img src="{{photo.url}}">
                {% empty %}
                <div>No Photos Uploaded</div>
                {% endfor %}
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ event.title }}<i
                        class="material-icons right">more_vert</i></span>
                <br>
                <div class="row">
                    <p class="left-align col s4">Date: {{ event.date }}</p>
                    <p class="center- align col s4">Time: {{ event.time }}</p>
                    <p class="right-align col s4">Location: {{ event.location }}</p>
                    <p><a href="#">{{ event.info }}</a></p>
                </div>
                {% if request.user == event.user %}
                <div class="card-action">
                </div>
                {% else %}
                {% endif %}

                <hr style="border: 0;
                height: 1px;
                background: #333;
                background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
                background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
                background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
                background-image: -o-linear-gradient(left, #ccc, #333, #ccc); ">

                <!-- <div id="fullRSVP" class="row">
                    <div class="col s6">
                        <p>Number of RSVPs: {{ guest.all|length }}</p>
                        <p>Number of RSVPs: {{ guest}}</p>


                        {% for guest in event.guests.all%}
                        {% if guest.user == user.username %}
                        <p>You are RSVP'd to attend this event</p>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="right-align">
                        <form data-toggle="validator" id="invitation-details" class="form-horizontal"
                            action="{% url 'events_rsvp' event.id %}" method="post">
                            {%csrf_token%}
                            <button class="btn waves-effect waves-light" type="submit" value="event rsvp" name="action">
                                <i class="material-icons">play_for_work</i>
                            </button>
                            <br>
                            <label class="radio-inline">
                                <input class="attending-radio" type="radio" name="{{ attending_label }}" value="yes"
                                    {% if guest.is_attending %}checked="checked" {% endif %} required> Click here to
                                RSVP
                            </label>

                            <label class="radio-inline">
                                <input class="attending-radio" type="radio" name="{{ attending_label }}" value="no"
                                    {% if guest.is_attending == False %}checked="checked" {% endif %} required>
                            </label>


                    </div>
                    </form>
                </div>

            </div> -->
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ event.title }}<i
                            class="material-icons right">close</i></span>
                    <p>{{ event.description }}</p>
                </div>
            </div>
        </div>


        <div>

            <div>
                <p>Number of RSVPs: {{ event.guests.all|length }}</p>

                {%if event.guests.all|length < 1%}
                <form data-toggle="validator" id="invitation-details" class="form-horizontal"
                    action="{% url 'events_rsvp' event.id %}" method="post">
                    {%csrf_token%}
                    <label class="radio-inline">
                        <input class="attending-radio" type="radio" name="is_attending" value="True"
                            {% if guest.is_attending %}checked="checked" {% endif %} required> will attend
                    </label>
                    <button type="submit" value="event rsvp">RSVP</button>
                </form>

                {%else %}
                {% for g in event.guests.all%}
                {% if forloop.last %}
                {%if g.user == user%}
                <p> You RSVPd</p>
                {%else%}
                <form data-toggle="validator" id="invitation-details" class="form-horizontal"
                    action="{% url 'events_rsvp' event.id %}" method="post">
                    {%csrf_token%}
                    <label class="radio-inline">
                        <input class="attending-radio" type="radio" name="is_attending" value="True"
                            {% if guest.is_attending %}checked="checked" {% endif %} required> will attend
                    </label>
                    <button type="submit" value="event rsvp">RSVP</button>
                </form>
                {%endif%}
                {%endif%}
                {%endfor%}
                {%endif%}
            </div>


            {% if event.created_by == user %}
            <a href="{% url 'events_update' event.id %}"><button
                    class="btn-floating btn-large waves-effect waves-light blue left hoverable"><i
                        class="material-icons">edit</i></button></a>
            <a href="{% url 'events_delete' event.id %}"><button
                    class="btn-floating btn-large waves-effect waves-light red right hoverable"><i
                        class="material-icons">delete</i></button></a>
           {% endif %}





        </div>


        <tbody>
            {% for comment in event.comments.all %}
            <div>
                <tr>
                    <td>{{ comment.text }}</td>
                    <td>{{ comment.user }}</td>
                    <td>{{ comment.created_date }}</td>
                </tr>
            </div>
            {% endfor %}
        </tbody>


        <div class="row">
            <form action="{% url 'events_comment' event.id %}" method="POST">
                {%csrf_token%}
                <div class="input-field col s12">
                    <textarea type='textarea' name="comment" class="materialize-textarea" data-length="250"></textarea>
                    <label for="textarea2">Comment</label>
                    <div class="center-align">
                        <button class="btn waves-effect waves-light" type="submit" name="action"
                            value="event comment">Add
                            Comment
                            <i class="material-icons right">comment</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>



        <!-- <form action="{% url 'events_comment' event.id %}" method="post">
        
        <textarea type='textarea' name="comment" class=""></textarea>
        <button type="submit" value="event comment">Comment</button>
    </form> -->

    </div>

    <script>
        $(document).ready(function () {
            $('input#input_text, textarea#textarea2').characterCounter();
        });
    </script>

    {% endblock %}