{% extends 'base.html' %}
{% block content %}

<div class="center-align">
    {% if category %}
    <h2 style="text-transform: uppercase;">{{category}} Events</h2>

    <hr style="border: 0;
                height: 1px;
                background: #333;
                background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
                background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
                background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
                background-image: -o-linear-gradient(left, #ccc, #333, #ccc); 
                width: 325px;" />
                <br>
                
    {% else%}
    <h2>All Events</h2>
    {% endif %}
    {%if events.all|length < 1%}
    <div class="container" style="border: 1px solid red; border-radius: 20px; width: fit-content;">
    <h3 style="padding: 0 45px 10px 45px;">No Events In This Category Yet.. <br>Add One, And <span style="text-decoration: underline;">Let's Get Together!</span> </h3>
</div>
    {%endif%}
    {% for event in events %}
    
</div>


<a href="{% url 'events_detail' event.id %}"></a>
<div>
    <div>

        {% for photo in event.photo_set.all %}
        <div class="parent-parallax">
            <div class="parallax-container">
                <div class="parallax" style="width:100%; transform: scale(.30);">
                    <img src="{{photo.url}}" style=" opacity: 1; height; 350%; width: 350%">
                </div>
                {% empty %}
                <div>
                    <h6 class="center-align" style="color: red;">No Photos Uploaded</h6>
                </div>
            </div>
            {% endfor %}
        </div>

        <div>
            <div class="row container">
                <div class="container">
                    <div class="container">
                        <h2 class="header col s12">{{ event.title }}</h2>
                        <p class="grey-text text-darken-3 lighten-3 col s4">Date: {{ event.date }}</p>
                        <p class="grey-text text-darken-3 lighten-3 col s4">Time: {{ event.time }}</p>
                        <p class="grey-text text-darken-3 lighten-3 col s4">Location: {{ event.location }}</p>
                        <p class="grey-text text-darken-3 lighten-3 col s12">Description: {{ event.description }}</p>
                        <a class="btn waves-effect waves-light purple right"
                            href="{% url 'events_detail' event.id %}"><i
                                class="material-icons center-align">visibility</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</a>
{% endfor %}
<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>

{% endblock %}