{% extends 'base.html' %}
{% block content %}

<div class="center-align">
    {% if category %}
    <h2 style="text-transform: uppercase;">{{category}} Events</h2>
    {% else%}
    <h2>All Events</h2>
    {% endif %}
    {% for event in events %}
</div>
<a href="{% url 'events_detail' event.id %}"></a>
<div>
    <div>

        {% for photo in event.photo_set.all %}
        <div class="parent-parallax">
            <div class="parallax-container">
                <div class="parallax" style="width:100%; transform: scale(.30);">
                    <img src="{{photo.url}}" style=" opacity: 1; height; 350%; width: 350%">
                </div>
                {% empty %}
                <div>
                    <h6 class="center-align" style="color: red;">No Photos Uploaded</h6>
                </div>
            </div>
            {% endfor %}
        </div>

        <div>
            <div class="row container">
                <div class="container">
                    <div class="container">
                        <h2 class="header col s12">{{ event.title }}</h2>
                        <p class="grey-text text-darken-3 lighten-3 col s4">Date: {{ event.date }}</p>
                        <p class="grey-text text-darken-3 lighten-3 col s4">Time: {{ event.time }}</p>
                        <p class="grey-text text-darken-3 lighten-3 col s4">Location: {{ event.location }}</p>
                        <p class="grey-text text-darken-3 lighten-3 col s12">Description: {{ event.description }}</p>
                        <a class="btn waves-effect waves-light purple right"
                            href="{% url 'events_detail' event.id %}"><i
                                class="material-icons center-align">visibility</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</a>
{% endfor %}
<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>

{% endblock %}